results/
data/*
!/data/DC_standard_power_curves/
!/data/power_demands/cdrs/
!/data/power_demands/cdrs/example_fleet_cdrs.csv
models/*
!/models/AC_model_gmm/
!/models/AC_model_base/
!/models/DC_model_gmm/
!/models/DC_model_base/
results/
__pycache__/
*.xml
*.iml
.idea/
*.png
*.pyc
*.gz
/.venv/
